<%- include('includes/header') %>
<div class="row">
    <div class="col-md-6 col-sm-6 col-12" >
        <div class="info-box mycursor" onclick="location.href='/organization';">
            <span class="info-box-icon bg-info"><i class="fab fa-buffer"></i></span>
            <div class="info-box-content">
                <span class="info-box-text"><a href="/organization">University</a></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12" >
        <div class="info-box mycursor" onclick="location.href='/user';">
            <span class="info-box-icon bg-success"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text"><a href="/user">Users</a></span>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer') %>