<%- include('../includes/header') %>
<div class="col-md-12">
    <div class="card card-primary">
  
      <div class="card-header">
        <h3 class="card-title">New university</h3>
      </div>

    <form action="/organization" method="POST">
      <div class="card-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" name="phone" class="form-control" autocomplete="off" placeholder="+998901234567">
        </div>
        <div class="form-group">
          <label>Website</label>
          <input type="text" name="website" class="form-control" autocomplete="off" placeholder="http://example.com">
        </div>
        <div class="form-group">
          <label>Slug</label>
          <input type="text" name="slug" class="form-control" autocomplete="off" required>
        </div>
        <div class="form-group">
          <label>Picture</label>
          <input type="text" name="Picture" class="form-control" autocomplete="off" placeholder="http://example.com/picture.jpg" required>
        </div>
        <div class="form-group">
          <label>Active</label><br/>
          <input type="checkbox" name="is_active" checked="yes">
        </div>
        <div class="row" id="social-row-1">
          <div class="col-5">
            <label>Social name</label>
            <input type="text" name="social[1][name]" class="form-control" autocomplete="off" placeholder="Telegram">
          </div>
          <div class="col-5">
            <label>Social link</label>
            <input type="text" name="social[1][link]" class="form-control" autocomplete="off" placeholder="http://t.me/channel">
          </div>
          <div class="col-1">
            <label>Action</label>
            <a class="btn-default btn"><i class="fa fa-trash-alt nav_icon"></i></a>
          </div>
        </div><br/>
        <a id='add-new-social'>Add social link</a><br>
        <button type='submit' class="btn btn-success">Save</button>
        <a href="/organization" class="btn-default btn">Back</a>
      </div>
    </form>
  </div>
</div>

<script>
  let i = 2;
  let allElements = 1;
  document.getElementById('add-new-social').onclick = function () {
      allElements++;
      let template = `
            <div class="row" id="social-row-${allElements}">
              <div class="col-5">
                  <label>Social name</label>
                  <input type="text" name="social[${i}][name]" class="form-control" autocomplete="off" placeholder="Telegram">
              </div>

              <div class="col-5">
                  <label>Social link</label>
                  <input name="social[${i}][link]" class="form-control" autocomplete="off" placeholder="http://t.me/channel">
              </div>
              <div class="col-1">
                  <label>Action</label>
                  <a class="btn-default btn"><i class="fa fa-trash-alt nav_icon"></i></a>
              </div>
            </div>
          `;

      let container = document.getElementById('social-row-1');
      container.insertAdjacentHTML('afterend', template);
      i++;
  }
</script>

<%- include('../includes/footer') %>
