                </div>
                </section>
            </div>
            <footer class="main-footer">
                All rights reserved.
            </footer>
        </div>
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/dist/js/adminlte.min.js"></script>
    </body>
</html>
